html, body{
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}
/*barra de navegacion*/
.navbar{
    background-color: rgb(240, 240, 245) !important;
    
}
.icon-bar{
    background-color: #84a44c;
}
.logo{
    width: 165px;
    height: auto;
}
#navbarNav{
    justify-content: flex-end;
}
.nav-item{
    margin-right: 30px;
    text-align: center;
}
.active{
    background-color:#84a44c;
    border-radius: 40px;
    color: white !important;
    width: 100px;
}
.fixed{
    position: fixed;
    background-color: white !important;
    top: 0;
    width: 100%;
    z-index: 3000;
}
/*primera seccion*/
.valla{
    width: 500px;
}
.flex{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 100px !important;
}
.vallas-bambu{
    background-color: rgb(240, 240, 245);
}
.texto{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-size: 60px;
    padding-left: 70px;
    width: 100%;
    padding-right: 50px;
    text-align: center;
    
}
.container-fluid{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.bambu-texto{
   margin-top: 50px;
   font-size: 1.5rem; 
   text-indent: 0px;
   font-weight: 300;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
   color: rgb(182, 180, 180);
}
/*Segunda seccion*/
.producto{
    padding: 100px 0px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titulo{
    font-size: 50px;
    padding-top: 70px;
}
.textos{
   margin-top: 50px;
   font-size: 1.5rem; 
   text-indent: 0px;
   font-weight: 300;
   margin-left: 20%;
   margin-right: 20%;
   font-family: 'Poppins', sans-serif;
   color: rgb(182, 180, 180);
   
}
.m-botton{
    padding: 50px 300px;
    font-size: 40px;
}
.negritas{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 900 !important;
}
/*Tercera seccion*/
.col-6, .col-sm-4 {
    flex: 0 0 auto;
    width: 50%;
    padding: 0;
}
.diagonales{
    padding: 0 80px;
}
.row{
    margin: 0;
    max-width: 100%;
}
.img-diagonales{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textos-diagonales{
    padding: 150px 10px 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.texto-diagonales{
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(182, 180, 180);
    padding-top: 20px;
}
.titulo-diagonales{
    font-size: 30px;
    font-weight: bolder;
}
.textos-diagonales-inverso{
    padding: 50px 50px 100px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
}
/*Cuarta seccion*/
.msg{
    padding: 100px 250px;
    text-align: center;
    font-size: 50px;
}

/*Ultima seccion*/
.formulario{
    width: 45%;
    height: 70%;
    z-index: 10;
    position: absolute;
    background-color:white;
    box-shadow: 0px 0px 5px black;
}
.btn{
    width: 20%;
    border-radius: 20px;
    color: white;
    background-color: #84a44c;
    margin-top: 80px;
    border: #84a44c 0px solid;
}
.margen{
    padding: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.img-footer{
    width: 100%;
}
.paddings{
    padding: 30px 50px;
}
input, textarea{
    border-radius: 0 !important;
    background-color:rgb(248, 245, 245) !important;
}
input{
    height: 40px;
}
.mb-3{
    padding: 10px 0px 0px 0px;
    margin-bottom: 0 !important;
}
.form-control{
    padding: 15px 20px;
}
.offset-md-1 {
    margin-left: 5%;
}
.img-final{
    margin-top: 300px;
}
.btn-primary{
    margin: 30px 0 ;
    text-align: center;
    width: auto;
    font-weight:700;
}
.contacto{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.boton{
    text-align:center;
}
/*Pie de pagina*/
.primer-divisor{
    margin: 0px 30%;
    font-size: 15px;
}
.segundo-divisor{
    margin: 0px 15%;
    font-size: 15px;
}
hr{
    border: 1.5px rgb(182, 180, 180) solid;
    width: 100%;
}
.green{
    color: #84a44c !important;
}
.foot{
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    color: rgb(182, 180, 180);
    font-weight: 200;
}
.foot-iconos{
    margin-right: 10px;
}
.offset-md-2{
    margin: 0 !important;
}
.m{
    padding: 100px 100px;
}
.copy{
    margin: 0;
    padding-left: 10px;
}
.copyright{
    margin-top: 20px !important;
    font-size: 15px;
    font-weight: 200;
}
/*Media querys*/
@media(max-width:750px){
    
    .active{
        margin: 0px 50px;
        width: auto;
    }
    .nav-item{
        margin: 0;
    }
    .flex{
        padding: 0;
        flex-direction: column-reverse;
    }
    .valla{
        width: 400px;
    }
    .texto{
        padding: 0;
    }
    .bambu-titulo{
        padding-top: 60px;
    }
    .producto{
        padding: 0;
    }
    .textos{
        margin: 20px 10px 0px 10px;
    }
    .titulo{
        font-size: 30px;
    }
    .m-botton{
        font-size: 35px;
        padding: 50px 0;
    }
    .diagonales{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .texto-diagonales{
        font-size: 16px;
        padding-bottom: 30px;
    }
    .textos-diagonales{
        padding: 0 !important;
    }
    .textos-diagonales-inverso{
        padding: 0;
        align-items: center;
    }
    .primero{
        order: 1;
    }
    .segundo{
        order: 2;
    }
    .tercero{
        order: 3;
    }
    .cuarto{
        order: 4;
    }
    .msg{
        padding: 0px 10px;
        font-size: 30px;
    }
    .formulario{
        width:95%;
        height:auto;
    }
    .img-footer{
        width: 100%;
        object-fit: cover;
        height: 250px;
    }
    .links-footer{
        padding:20px 0;
    }
    .primer-divisor, .segundo-divisor{
        flex-direction:column;
        margin:0;
    }
    .segundo-divisor{
        text-align:center;
    }
    .contactos{
        padding:20px;
    }
    .m{
        padding:50px 50px;
    }
}